.site-header {
    background-color: #000;
    background-size: cover;
}

@media screen and( min-width: 50em ) {
    .site-header {
        min-height: 4em;
    }
}

.site-branding {
    text-align: center;
}

.site-title {
    color: #fff;
    margin:1.7em 1em 0;
    text-transform: uppercase;
    font-weight: bold;
    a {
        color: inherit;        
        text-decoration: none;
    }
     a:hover, a:focus, a:active {       
        text-decoration: underline;
    } 
}

@media screen and ( max-width:30em ) {
    .site-title {
        font-size: 2em;
    }
}

.site-title::after {
    display: block;
    content: "";
    margin:.7em auto 0;
    width: 3em;
    border-bottom: 1px solid #fff;
    opacity: .5;
}

.site-description {
    margin: 2em 2em 1em;
    font-size: 110%;
    color: #fff;
}

// Site Logo
.site-logo {
    position: relative;
    a {
        position: absolute;
        z-index: 10;
        display: block;
        top: 1em;
        left: 1em;
        width: 2em;
        height: 2em;
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        text-decoration: none;
    }
    a:hover, a:focus {
        border: 2px solid #fff;
        .site-firstLetter{
            background-color: #fff;
            color: black;
        }
    }
}

.site-firstLetter {
    font-family: "Fira Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    line-height: 1.3em;
    
}

